.wp-core-ui #login {
  width: 100%;
  height: 100%;
  padding: 0;
}
.wp-core-ui #login .__dp_login_form,
.wp-core-ui #login .__dp_login_image {
  width: 50%;
  height: 100%;
  float: left;
}
.wp-core-ui #login .__dp_login_form {
  background-color: #ffffff;
}
.wp-core-ui #login .__dp_login_form .__dp_login_header {
  padding: 0 15px;
  background-color: #ed1c24;
}
.wp-core-ui #login .__dp_login_form .__dp_login_header a {
  display: inline-block;
  outline: none;
  box-shadow: 0 0 0;
}
.wp-core-ui #login .__dp_login_form .__dp_login_header .__dp_logo {
  width: 66px;
  height: 66px;
}
.wp-core-ui #login .__dp_login_form .__dp_login_form_inner {
  display: table;
  max-width: 330px;
  height: calc(100% - 70px);
  margin: auto;
}
.wp-core-ui #login .__dp_login_form .__dp_login_form_inner h2 {
  font-size: 25px;
  margin-bottom: 15px;
  color: #000;
}
.wp-core-ui #login .__dp_login_form .__dp_login_form_inner > div {
  display: table-cell;
  vertical-align: middle;
}
.wp-core-ui #login .__dp_login_form .__dp_login_form_inner #login_error {
  background: #ffe1e2;
  box-shadow: 0 0 0;
}
.wp-core-ui #login .__dp_login_form .__dp_login_form_inner .message {
  background: #d4f5ff;
  box-shadow: 0 0 0;
}
.wp-core-ui #login .__dp_login_form #loginform,
.wp-core-ui #login .__dp_login_form #lostpasswordform {
  margin: 0;
  padding: 0 0 20px 0;
  border: 0;
  background: transparent;
  box-shadow: 0 0 0;
  border-bottom: 2px solid #ed1c24;
}
.wp-core-ui #login .__dp_login_form #loginform label,
.wp-core-ui #login .__dp_login_form #lostpasswordform label {
  margin-bottom: 10px;
  color: #000;
}
.wp-core-ui #login .__dp_login_form #user_login,
.wp-core-ui #login .__dp_login_form #user_pass {
  margin-right: 0;
  border-radius: 50px;
  background: transparent;
  border: 1px solid #ddd;
  box-shadow: 0 0 0;
  outline: none;
  font-size: 14px;
  padding-left: 45px;
}
.wp-core-ui #login .__dp_login_form #user_login {
  padding-right: 15px;
}
.wp-core-ui #login .__dp_login_form #user_pass {
  padding-right: 45px;
}
.wp-core-ui #login .__dp_login_form #user_login::placeholder,
.wp-core-ui #login .__dp_login_form #user_pass::placeholder {
  color: #ddd;
  opacity: 1; /* Firefox */
}
.wp-core-ui #login .__dp_login_form #user_login::-ms-input-placeholder,
.wp-core-ui #login .__dp_login_form #user_pass::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ddd;
}
.wp-core-ui #login .__dp_login_form #user_login::-ms-input-placeholder,
  .wp-core-ui #login .__dp_login_form #user_pass::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ddd;
}
.wp-core-ui #login .__dp_login_form #loginform > p:first-child,
.wp-core-ui #login .__dp_login_form #loginform .user-pass-wrap,
.wp-core-ui #login .__dp_login_form #lostpasswordform > p:first-child {
  position: relative;
}
.wp-core-ui #login .__dp_login_form #loginform > p:first-child:before,
.wp-core-ui #login .__dp_login_form #loginform .user-pass-wrap:before,
.wp-core-ui #login .__dp_login_form #lostpasswordform > p:first-child:before {
  content: '';
  position: absolute;
  bottom: 26px;
  left: 15px;
  display: block;
  width: 20px;
  height: 20px;
}
.wp-core-ui #login .__dp_login_form #loginform > p:first-child:before,
.wp-core-ui #login .__dp_login_form #lostpasswordform > p:first-child:before {
  background: url(../imgs/email-gray.png) center/100% no-repeat;
}
.wp-core-ui #login .__dp_login_form #loginform .user-pass-wrap:before {
  background: url(../imgs/key-outline-gray.png) center/100% no-repeat;
}
.wp-core-ui #login .__dp_login_form #loginform .forgetmenot {
  padding: 6px 0;
}
.wp-core-ui #login .__dp_login_form #loginform .forgetmenot input {
  outline: none;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #ddd;
  box-shadow: 0 0 0;
  background: transparent;
  margin: 0 5px 0 0;
}
.wp-core-ui #login .__dp_login_form #loginform .forgetmenot input:checked:before {
  content: '';
  background: url(../imgs/check-mark.png) center/100% no-repeat;
  display: block;
  width: 15px;
  height: 15px;
  margin-top: -2px;
  margin-left: 2px;
}
.wp-core-ui #login .__dp_login_form #loginform .forgetmenot label {
  font-size: 12px;
  margin-bottom: 0;
  vertical-align: middle;
  display: inline-block;
}
.wp-core-ui #login .__dp_login_form #loginform .wp-pwd button {
  outline: none;
  box-shadow: 0 0 0;
  border: 0;
  padding-right: 34px;
}
.wp-core-ui #login .__dp_login_form #loginform .wp-pwd button span {
  color: #ed1c24;
}
.wp-core-ui #login .__dp_login_form #loginform #wp-submit,
.wp-core-ui #login .__dp_login_form #lostpasswordform #wp-submit {
  background: #ed1c24;
  border: 1px solid #ed1c24;
  box-shadow: 0 0 0;
  outline: none;
  min-width: 100px;
  border-radius: 50px;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.wp-core-ui #login .__dp_login_form #loginform #wp-submit:hover,
.wp-core-ui #login .__dp_login_form #lostpasswordform #wp-submit:hover {
  background: #d11d23;
}
.wp-core-ui #login .__dp_login_form #nav,
.wp-core-ui #login .__dp_login_form #backtoblog {
  padding: 0;
  margin: 20px 0;
}
.wp-core-ui #login .__dp_login_form #nav a,
.wp-core-ui #login .__dp_login_form #backtoblog a {
  outline: none;
  box-shadow: 0 0 0;
  color: #a0a5aa;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.wp-core-ui #login .__dp_login_form #nav a:hover,
.wp-core-ui #login .__dp_login_form #backtoblog a:hover {
  color: #ed1c24;
}
.wp-core-ui #login .__dp_login_form #nav {
  display: inline-block;
}
.wp-core-ui #login .__dp_login_form #backtoblog {
  float: right;
}
.wp-core-ui #login .__dp_login_image {
  background: url( ../imgs/dp-login-image.jpg ) center/cover no-repeat;
}

/* Responsive */
@media ( min-width: 1536px ) {
  .wp-core-ui #login .__dp_login_form .__dp_login_form_inner {
    max-width: 50%;
  }
}
@media ( max-width: 900px ) {
  .wp-core-ui #login .__dp_login_form {
    width: 100%;
  }
  .wp-core-ui #login .__dp_login_form .__dp_login_form_inner {
    padding: 0 15px;
  }
  .wp-core-ui #login .__dp_login_image {
    display: none;
  }
}
