.body-image-slider {
    &__container {
        padding: 0 20px;
        .slide {
            height: auto;
            background-position: center;
            background-size: cover;

            .image {
                width: 100%;
            }
        }

        .slick-arrow {
            z-index: 1;
        }

        .slick-prev {
            left: 50px;
            height: auto;
            width: 40px;
            top: 50%;

            &:before {
                content: none;
            }
        }

        .slick-next {
            right: 50px;
            height: auto;
            width: 40px;
            top: 50%;

            &:before {
                content: none;
            }
        }
    }
}