.button-group {
    &__container {
        max-width: 75em;
        margin: auto;
        padding: 0 20px;
        
        a {
            margin: 10px 0;
            max-width: 30em;

            &:after {
                content: none;
            }
            .button {
                border: 2px solid #c41230;
                color: #c41230;
                padding: 5px 10px;
                font-weight: bold;
                width: 100%;
                text-align: left;
                cursor: pointer;
                position: relative;
                transition: color 1s ease;
                z-index: 1;
                
                &:before {
                    content: '';
                    height: 100%;
                    width: 0;
                    position: absolute;
                    background-color: #c41230;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transition: width 1s ease;
                }

                &:hover {
                    color: white;

                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.mb-container {
    border: 2px solid #c41230;
    color: #c41230;
    padding: 5px 10px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 1;
    margin: 10px 0;
    max-width: 30em;

    &:before {
        content: '';
        height: 100%;
        width: 0;
        position: absolute;
        background-color: #c41230;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 1s ease;
    }

    .maxbutton-default-button {
        
        &:after {
            content: none;
        }
        .mb-text {
            color: #c41230;
            transition: color 1s ease;
        }        
    }

    &:hover {
        &:before {
            width: 100%;
        }

        .maxbutton-default-button {
            &:after {
                content: none;
            }
            .mb-text {
                color: white;
            }       
        }
    }
}