.display-weekly-activities {
    &__container {
        padding: 20px 0;

        .title-area {

        }
        .activities-list {
            .single-weekly-activity {
                padding: 10px;
                &__container {
                    .image-area {
                        overflow: hidden;
                        

                        @include breakpoint(small only) {
                            text-align: center;
                        }

                        .image-background {
                            transition: transform 0.5s ease;
                            @include breakpoint(small only) {
                                width: 100%;
                            }
                        }
                    }

                    .content-area {
                        h5 {
                            font-size: 1.1em;
                            margin: 0.4em 0;
                            color: #c41230;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                        .date-time {
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                        p {
                            font-size: 0.9em;
                        }
                    }

                    .button-area {
                        text-align: center;
                        background-color: #c41230;
                        padding: 6px;

                        button {
                            color: white;
                            font-weight: bold;
                        }
                    }
                }

                &:hover {
                    .image-area {
                        
                        .image-background {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}