#tribe-events {
    &.view-list {
        .tribe-bar-disabled {
            display: none;
        }

        .tribe-events-list{
            .tribe-events-loop {
                justify-content: center;
                align-items: stretch;

                .tribe-events-first {
                    margin-top: 0;
                }

                .type-tribe_events {
                    .single-event__container {
                        padding: 0 10px;
                        height: 100%;
                        
                        .tribe-event-url {
                            height: 100%;

                            &:after {
                                content: none;
                            }

                            &:hover {
                                .dp-list-events-background-image {
                                    img {
                                        transform: scale(1.1)
                                    }
                                }
                            }
                            
                            .dp-list-events-background-image {
                                overflow: hidden;

                                img {
                                    transition: transform 0.5s ease;
                                }
                            }

                            .dp-list-events-content {
                                padding: 5px 0;
                                .tribe-events-list__event-title {
                                    font-size: 1.1em;
                                    color: #c41230;
                                    font-weight: bold;
                                    margin-bottom: 0;
                                    text-transform: uppercase;
                                }

                                .tribe-events__event-meta {
                                    .tribe-event__schedule-details {
                                        font-size: 0.9em;
                                        font-weight: bold;
                                        text-transform: uppercase;
                                    }

                                    .tribe-event__short-conclusion {
                                        font-size: 0.8em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.view-month {
        .tribe-bar-disabled {
            display: none;
        }
        .tribe-events-title-bar {
            .tribe-events-page-title {
                text-align: left;
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }
    }
}

#tribe-events-pg-template {
    max-width: 100%;

    @include breakpoint(small only) {
        padding: 0;
    }

    #tribe-events-content {
        padding: 20px 0;
        margin: 0;

        .dp-left-section {
            // padding-right: 20px;
            @include breakpoint(large) {
                padding-right: 20px;
            }
            .tribe-events-event-image {
                @include breakpoint(medium down) {
                    text-align: center;
                }
            }
            
        }

        .dp-right-section {
            @include breakpoint(large) {
                padding-left: 20px;
            }

            @include breakpoint(medium down) {
                padding: 0 20px;
            }
            .tribe-events-single-event-title {
                @include breakpoint(small only) {
                    font-size: 1.6em;
                }
            }
            .tribe-events-schedule {

                @include breakpoint(small only) {
                    background: none;
                    border: none;
                    margin: 10px 0;
                    padding: 0;
                }
                h2 {
                    @include breakpoint(small only) {
                        font-size: 1em;
                    }
                }
            }
            .dp-event-cost {

            }
            .tribe-events-single-event-description {

            }
            .dp-events-ticket-link {
                a:after {
                    content: none;
                }

                button {
                    border: 2px solid #c41230;
                    padding: 10px 15px;
                    color: #c41230;
                    font-weight: bold;
                    transition: color 0.5s ease, background-color 0.5s ease;
                    cursor: pointer;

                    &:hover {
                        background-color: #c41230;
                        color: white;
                    }
                }
            }
            .dp-events-facebook-link {
                a:after {
                    content: none;
                }
                .event-facebook-button {
                    max-width: 30px;
                    transition: transform 0.5s ease;
                    &:hover {
                        transform: scale(1.2)

                    }
                }
            }
        }
    }
}

table.tribe-events-calendar thead th {
    background-color: #c41230;
    border-left: 1px solid #c41230;
    border-right: 1px solid #c41230;
    font-weight: bold;
}
table.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] {
    background-color: #c41230;
}

table.tribe-events-calendar .tribe-events-tooltip {
    padding: 0.75em 1em;
    p {
        margin-bottom: 0;
    }
}

.tribe-events-nav-pagination ul.tribe-events-sub-nav {
    li.tribe-events-nav-previous {

    }

    li.tribe-events-nav-next {
        
    }

    a:after {
        content: none;
    }

    a {
        color: #c41230;
        border: 2px solid #c41230;
        padding: 5px 10px;
        background-color: white;
        transition: background-color 0.5s ease, color 0.5s ease;

        &:hover {
            background-color: #c41230; 
        }
    }
}

// #tribe-events-content table.tribe-events-calendar td.tribe-events-present {
//     background-color: #c41230;
// }

// table.tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-] {
//     background-color: #c41230;
// }

// #tribe-events-content table.tribe-events-calendar td.tribe-events-present.mobile-active:hover, table.tribe-events-calendar td.tribe-events-present.mobile-active {
//     background-color: #c41230;
// }

@include breakpoint(small only) {
    table.tribe-events-calendar td.tribe-events-present.mobile-active,
    table.tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-], 
    #tribe-events-content table.tribe-events-calendar td.tribe-events-present.mobile-active:hover,
    table.tribe-events-calendar td.tribe-events-present,
    #tribe-events-content table.tribe-events-calendar td.tribe-events-present:hover,
    table.tribe-events-calendar td.mobile-active,
    table.tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-],
    #tribe-events-content table.tribe-events-calendar .mobile-active:hover, 
    #tribe-events-content table.tribe-events-calendar td.tribe-events-othermonth.mobile-active, 
    #tribe-events-content table.tribe-events-calendar td.tribe-events-othermonth.mobile-active div[id*=tribe-events-daynum-], 
    #tribe-events-content table.tribe-events-calendar td.tribe-events-othermonth.mobile-active div[id*=tribe-events-daynum-] a, 
    table.tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-] a {
        background-color: #c41230;
    }

    table.tribe-events-calendar td.tribe-events-othermonth.tribe-events-future div[id*=tribe-events-daynum-], 
    table.tribe-events-calendar td.tribe-events-othermonth.tribe-events-future div[id*=tribe-events-daynum-]>a {
        background-color: transparent; 
    }
}