.footer {
    &__top-section {
        .top-border {
            padding: 1em 20px;
            border-top: 2px solid black;
        }
        .left-section {
            .footer--content {
                a {
                    margin-bottom: 1em;
                    text-transform: uppercase;
                    font-size: 0.8em;
                }

                ul {
                    margin-left: 0;
                    list-style-type: none;
                }
            }
        }

        .middle-section {
            table {
                margin-bottom: 1em;
                tr {
                    td {
                        font-size: 0.8em;
                        padding: 0;

                        &:nth-child(2) {
                            padding-left: 1em;
                        }
                    }
                }
            }
        }

        .right-section {
            a {
                &:after {
                    content: none;
                }
                button {
                    background-color: #c41230;
                    color: white;
                    padding: 0.5em 0.8em;
                    cursor: pointer;
                    border: 1px solid #c41230;
                    transition: background-color 0.3s ease, color 0.3s ease;

                    &:hover {
                        background-color: white;
                        color: #c41230;
                    }
                }
            }
        }
    }

    &__bottom-section {
        background-color: black;

        & > .grid-x {
            padding: 0 20px;
        }
        p {
            font-size: 0.6em;
            color: white;
            margin: 10px 0;

            @include breakpoint(small only) {
                text-align: center;
            }
        }

        a {
            color: white;
        }
    }

    &--title {
        color: #c41230;
        margin-bottom: 1em;

        h5 {
            border-bottom: 2px solid #c41230;
            text-transform: uppercase;
            font-weight: bold;
            width: fit-content;
            margin: 0;
            display: inline;
        }
        
    }
}