.hover-box-with-content {
    &__container {
        padding: 20px 0;
        .single-item {
            padding: 0 10px;

            a {
                &:after {
                    content: none;
                }

                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    /* IE10+ CSS styles go here */
                    display: block !important;
                }
            }

            .image-area {
                box-shadow: 0 0 0px black;
                transition: box-shadow 0.2s ease;
                img {

                }
            }

            .text-area {
                padding: 15px 0;
                h6 {
                    margin: 5px 0;
                    font-weight: bold;
                }

                p {
                    margin: 0;
                }
            }

            &:hover {
                .image-area {
                    box-shadow: 0 0 5px black;
                }
            }
        }
    }
}