.hover-box {
    &.move-upper {
        margin-top: -50px;
    }
    &__container {
        justify-content: center;
        align-items: center;
        
        .single-box {
            padding: 10px;

            .background-image {
                padding-bottom: 100%;
                position: relative;
                background-position: center;
                background-size: cover;

                a {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: background-color 0.5s ease;
                    background-color: rgba(0, 0, 0, 0.2);
                }
                .overlay-chip {
                    position: absolute;
                    .title {
                        margin: auto 15px;
                        padding: 10px 15px;
                        border: 4px solid white;
                        color: white;
                        font-weight: 600;
                        text-align: center;
                    }

                    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                        /* IE10+ CSS styles go here */
                        position: relative !important;    
                    }
                }
            }

            &:hover {
                a {
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }
        }
    }
}