.list-posts {
    list-style: none;

    a {
        box-shadow: none;
        transition: box-shadow 0.5s ease;
        cursor: pointer;

        &:after {
            content: none;
        }

        &:hover {
            box-shadow: 0 0 5px black;
        }
    }
    .single-post {
        padding: 10px;

        @include breakpoint(small only) {
            padding: 0;
        }

        .background-image {
            img {
                width: 100%;
            }
        }

        .content {
            h3 {
                margin-bottom: 0;
                text-align: center;
                color: #c41230;
                font-weight: bold;
                font-size: 1.2em;
            }
        }
    }
}