.logo-list {
    &__container {
        padding: 20px 0;
        justify-content: center;
        align-items: center;
        .single-logo {
            a {
                &:after {
                    content: none;
                }
            }

            .logo-image {
                max-width: 150px;
            }
        }
    }
}