.name-wall {
    &__container {
        padding: 20px;
        .single-box {
            @include breakpoint(medium) {
                padding: 10px;
            }
            .background-image {
                padding-bottom: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

            }
            .title {
                margin: 10px 0;
            }
            .name {
                margin: 10px 0;
                font-weight: bold;
                font-size: 1.2em;
            }
        }
    }
}