.desktop-menu {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 9px 20px;
    position: fixed;
    width: 100%;
    z-index: 10;

    .left-area {
        position: absolute;

        a {
            position: relative;
            &:after {
                content: none;
            }

            img {
                max-width: 150px;
                top: 0;
                bottom: 0;
                position: absolute;
            }
        }
    }

    .right-area {
        .top-section {
            padding: 10px 0;

            .social-icons {
                height: 25px;

                a {
                    margin: 0 5px;
                    height: 25px;

                    &:after {
                        content: none;
                    }
                }
                svg {
                    width: 25px;
                    background-color: white;
                    fill: #c41230;
                    border-radius: 15px;
                    transition: background-color 0.5s ease, fill 0.5s ease;

                    &:hover {
                        background-color: #c41230;
                        fill: white;
                    }
                }
            }

            .venue-dropdown {
                margin-left: 1em;

                .select-style {
                    font-size: 0.8em;
                    color: white;
                    padding: 0.6em 0.8em 0.6em 0.8em;
                    width: 100%;
                    max-width: 100%;
                    box-sizing: border-box;
                    margin: 0;
                    border: none;
                    border-radius: 0em;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: rgba(255,255,255,0.2);
                    background-repeat: no-repeat, repeat;
                    background-position: right 0.8em top 50%, 0 0;
                    background-size: .65em auto, 100%;

                    option {
                        color: black;
                    }

                    @supports (-moz-appearance:none) {
                        option {
                            color: black;
                        }
                    }
                    
                    @supports (-ms-ime-align: auto)  {
                        option {
                            color: black;
                        }
                    }
                    
                    /* IE Only */
                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        option {
                            color: black;
                        }
                    }
                }
            }
        }
        hr {
            max-width: 75em;
            margin: auto;
            border-top: none;
        }
        .bottom-section {
            padding: 10px 0;

            .dp-plain-menu {
                list-style: none;
                margin: 0 auto;
                padding-left: 0;
                display: flex;
                justify-content: flex-end;
                max-width: 75em;

                .menu-item {
                    padding: 8px 10px;
                    background: linear-gradient(to top, #b71d22 50%, transparent 50%);
                    background-position: top;
                    background-size: 100% 200%;
                    transition: background 0.5s ease-out;
                    position: relative;

                    /* IE Only */
                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        &:hover {
                            // color: #b71d22;
                        }
                    }
                    
                    a {
                        text-transform: uppercase;
                        font-size: 0.8em;
                        color: white;

                        &:after {
                            border-bottom: 2px solid white;
                        }
                    }

                    &:hover {
                        background-position: bottom;

                        a:after {
                            transform: scaleX(1);
                            transform-origin: 0%;
                        }
                    }

                    &.menu-item-has-children {
                        
                        & > .second-level-menu {
                            display: none;
                            position: absolute;
                            background-color: transparent;
                            margin-left: 0;
                            left: 0;
                            top: 100%;
                            z-index: 1;
                            padding-top: 10px;
                            list-style: none;
                            width: max-content;

                            .menu-item {
                                background-position: bottom;
                                padding-right: 30px;

                                a:after {
                                    transform: scaleX(0);
                                    transform-origin: 100%;
                                }

                                &:hover {
            
                                    a:after {
                                        transform: scaleX(1);
                                        transform-origin: 0%;
                                    }
                                }
                            }

                            .menu-item-has-children {
                                padding-right: 40px;

                                &::after {
                                    content:'';
                                    position: absolute;
                                    width: 0;
                                    height: 0;
                                    right: 10px;
                                    top: calc(50% - 5px);
                                    border-left: 5px solid #b71d22;
                                    border-top: 5px solid transparent;
                                    border-bottom: 5px solid transparent;
                                    display: block;
                                    transition: transform 0.5s ease;
                                    transform: rotate(90deg);
                                }

                                &:hover {
                                    &::after {
                                        transform: rotate(0deg);
                                    }
                                }
                            }

                            .second-level-menu {
                                left: 100%;
                                top: 0;

                                .second-level-parent {
                                    display: none;
                                }
                            }
                        }

                        &:hover {
                            & > .second-level-menu {
                                display: block;
                            }
                        }
                    }

                    &.current_page_ancestor, &.current_page_item, &.current-menu-ancestor, &.current-menu-item {
                        background-position: bottom;

                        a:after {
                            transform: scaleX(1);
                            transform-origin: 0%;
                        }
                    }
                }
            }
        }
    }
}

// .mover {
//     width: 50px;
//     height: 50px;
//     background: red;
//     position: fixed;
//     left: var(--mouse-x);
//     top: var(--mouse-y);
// }

.mobile-menu {
    position: fixed;
    width: 100%;
    z-index: 10;

    .logo-banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 9px 20px;
        
        &__logo {
            a {
                &:after {
                    content: none;
                }
                img {
                    max-height: 60px;
                }
            }
        }

        &__opener {
            .hamburger-icon {
                $line-color: white;
                $line-width: 30px;
                $line-height: 2px;
                $icon-width: 30px;
                $icon-height: 20px;
                $transition-time: 0.5s;
                $rotation: 45deg;
                $translateY: ($icon-height / 2);
                $translateX: 0;
        
                display: block;
                height: $icon-height;
                width: $icon-width;
                position: relative;
                margin: 1.5rem 0;
                float: right;

                &:after {
                    content: none;
                }
                
                & .line {
                    display: block;
                    background-color: $line-color;
                    height: $line-height;
                    width: $line-width;
                    position: absolute;
            
                    &.line-1 {
                        top: 0;
                    }
            
                    &.line-2 {
                        top: 50%;
                    }
            
                    &.line-3 {
                        top: 100%
                    }
                    -webkit-transition: all $transition-time;
                    -o-transition: all $transition-time;
                    transition: all $transition-time;
                }
        
                &.active {
        
                    & .line-1 {
                        -webkit-transform: translateY($translateY) translateX($translateX) rotate($rotation);
                            -ms-transform: translateY($translateY) translateX($translateX) rotate($rotation);
                                transform: translateY($translateY) translateX($translateX) rotate($rotation);
                    }
                    & .line-2 {
                        opacity: 0;
                    }
                    & .line-3 {
                        -webkit-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
                            -ms-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
                                transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
                    }
                }

                &.first-level-open {
                    & ul.dp-plain-menu {        
                        & .menu-item-has-children.open > a::after {
                            -webkit-transform: rotate(180deg);
                                -ms-transform: rotate(180deg);
                                    transform: rotate(180deg);
                        }
            
                        & .second-level-menu {
                            display: none;
                        }
            
                        & .open .second-level-menu {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .menu-banner {
        position: absolute;
        left: 100%;
        transition: transform 1s ease;
        width: 100%;

        &__menu {
            background-color: rgba(0, 0, 0, 0.8);
            padding: 20px;

            .dp-plain-menu {
                list-style: none;
                margin: 15px 0;

                .menu-item {
                    padding: 8px 10px;
                    background: linear-gradient(to top, #b71d22 50%, transparent 50%);
                    background-position: top;
                    background-size: 100% 200%;
                    transition: background 0.5s ease-out;
                    
                    a {
                        text-transform: uppercase;
                        font-size: 0.8em;
                        color: white;

                        &:after {
                            border-bottom: 2px solid white;
                        }
                    }

                    &:hover {
                        background-position: bottom;

                        a:after {
                            transform: scaleX(1);
                            transform-origin: 0%;
                        }
                    }

                    &.open {
                        background-position: bottom;

                        a:after {
                            transform: scaleX(1);
                            transform-origin: 0%;
                        }
                    }

                    &.menu-item-has-children:not(.open) > .second-level-menu {
                        display: none;
                    }

                    &.menu-item-has-children {
                        
                        & > .second-level-menu {
                            list-style: none;
                            position: relative;
                            background-color: transparent;
                            margin-left: 0;
                            left: 0;
                            top: 100%;
                            z-index: 1;
                            width: 100%;

                            .menu-item {
                                // background-position: bottom;
                                background-position: top;

                                a:after {
                                    transform: scaleX(0);
                                    transform-origin: 100%;
                                }

                                &:hover {
                                    a:after {
                                        transform: scaleX(1);
                                        transform-origin: 0%;
                                    }
                                }
                            }
                        }

                        &:hover {
                            & > .second-level-menu {
                                display: block;
                            }
                        }
                    }

                    &.current_page_ancestor, &.current_page_item, &.current-menu-ancestor, &.current-menu-item {
                        background-position: bottom;

                        a:after {
                            transform: scaleX(1);
                            transform-origin: 0%;
                        }
                    }
                }
            }

            .social-icons {
                height: 25px;
                margin: 15px 0;

                a {
                    margin: 0 5px;
                    height: 25px;

                    &:after {
                        content: none;
                    }
                }
                svg {
                    width: 25px;
                    background-color: white;
                    fill: #c41230;
                    border-radius: 15px;
                    transition: background-color 0.5s ease, fill 0.5s ease;

                    &:hover {
                        background-color: #c41230;
                        fill: white;
                    }
                }
            }

            .venue-dropdown {
                margin: 15px 0;

                .select-style {
                    font-size: 0.8em;
                    color: white;
                    padding: 0.6em 0.8em 0.6em 0.8em;
                    width: auto;
                    max-width: 100%;
                    box-sizing: border-box;
                    margin: 0;
                    border: none;
                    border-radius: 0em;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: rgba(255,255,255,0.2);
                    background-repeat: no-repeat, repeat;
                    background-position: right 0.8em top 50%, 0 0;
                    background-size: .65em auto, 100%;

                    option {
                        color: black;
                    }

                    @supports (-moz-appearance:none) {
                        option {
                            color: black;
                        }
                    }
                    
                    @supports (-ms-ime-align: auto)  {
                        option {
                            color: black;
                        }
                    }
                    
                    /* IE Only */
                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        option {
                            color: black;
                        }
                    }
                }
            }
        }
    }

    &.first-level-open {
        .menu-banner {
        transform: translateX(-100%);
        }
    }
}