.notepad {
    @include breakpoint(medium down) {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    &__container {
        display: flex;
        max-width: 75rem;
        margin: auto;

        .background-color {
            padding: 20px 100px 20px 50px;
            background: #c41230;
            z-index: 1;
            color: white;
            left: -50px;
            position: relative;

            @include breakpoint(medium down) {
                left: auto;
                margin: auto;
                padding: 20px;
            }

            h3 {
                margin: 0;
            }
        }
    }
}