.one-column-text-section {
    &__container {
        .content {
            padding: 20px;
            @include breakpoint (small only) {
                width: 100% !important;
            }
        }

        .auto-two-columns {
            @include breakpoint (large) {
                columns: 100px 2;
            }        
        }
    }
}