.separator {
    &__container {
        hr {
            width: 100%;
            height: 0;
            border-top: 0;
            border-bottom: 2px solid black;
            margin: 0;
        }
    }
}