

.page-template-sidebar-template {
    #content {

        #main.main {
            .sidebar {
                padding: 0 20px;

                @include breakpoint(small only) {
                    overflow-x: auto;
                    &::-webkit-scrollbar {
                        width: 0;
                    }
                }

                &__container {
                    padding: 20px 0;

                    @include breakpoint(small only) {
                        white-space: nowrap;
                        padding: 20px 0px 0px 0px;
                    }
                    
                    .single-menu-item {
                        margin-bottom: 2em;
                        width: max-content;

                        @include breakpoint(small only) {
                            margin-bottom: 1em;
                            padding: 0px 20px;
                            display: inline-block;
                        }

                        a {
                            &:after {
                                border-bottom: 1px solid #c41230;
                            }
                            .title {
                                text-transform: uppercase;

                                
                            }

                            &.highlight-item {
                                font-weight: bold;

                                &:after {
                                    border-bottom: 1px solid #c41230;
                                    transform: scaleX(1);
                                }
                            }
                        }
                    }
                }
            }

            .inner-content {
                padding: 0 20px;
                @include breakpoint(small only) {
                    padding: 0px;
                }
            }
        }
    }
}