.slider {
    &__container {
        padding-bottom: 60px;
        background-color: #c41230;

        .single-slide {
            height: 800px;
            padding-top: 130px;
            background-position: center;
            background-size: cover;

            @include breakpoint(small only) {
                height: 400px;
            }

            &__container {
                height: 100%;
                justify-content: center;
                align-items: center;

                .title {
                    margin: 0;
                    font-size: 4em;
                    color: white;
                    text-shadow: 3px 3px 5px black;
                    font-weight: 700;
                    text-align: center;
                    padding: 0 20px;
                    @include breakpoint(small only) {
                        font-size: 2em;;
                    }
                }

                .link {
                    margin: 0;
                    color: white;
                    text-shadow: 3px 3px 5px black;
                    cursor: pointer;
                    font-weight: 600;
                }

                a {
                    cursor: pointer;

                    &:after {
                        border-bottom: 2px solid white;
                    }
                }

                
            }
        }

        .image-overlay {
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
        }

        .slick-arrow {
            z-index: 1;
        }

        .slick-prev {
            left: 50px;
            height: auto;
            width: 40px;
            top: calc( 50% + 40px );

            &:before {
                content: none;
            }

        }

        .slick-next {
            right: 50px;
            height: auto;
            width: 40px;
            top: calc( 50% + 40px );

            &:before {
                content: none;
            }
        }
    }
}