.sports-facilities {
    &__container {
        padding: 20px 0;

        .single-club {
            padding: 0 10px;
            figure {
                margin: 0;

                a {
                    &:after {
                        content: none;
                    }

                    img {
                        box-shadow: 0 0 0px black;
                        transition: box-shadow 0.2s ease;
                    }
                }

                figcaption {
                    padding: 10px 0;
                    h5 {
                        margin: 0;
                        text-transform: uppercase;
                        font-size: 1.1em;
                    }
    
                    p {
                        margin: 0;
                    }
                }
            }

            &:hover {
                figure {
                    a {
                        img {
                            box-shadow: 0 0 5px black;
                        }
                    }
                }
            }
        }
    }
}