.two-columns-text-section {
    &__container {
        padding: 20px;

        .left-column {
            padding-right: 20px;

            @include breakpoint(small only) {
                padding-right: 0;
                max-width: 100% !important;
            }
        }

        .right-column {
            padding-left: 20px;

            @include breakpoint(small only) {
                padding-left: 0;
                max-width: 100% !important;
            }
        }
    }
}