/*********************
* Global Stylesheets *
**********************/
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700&display=swap');

@mixin button {
  &:hover {
  }
}

* {
  image-rendering: -webkit-optimize-contrast;
}

.grid-x {
  max-width: $global-width;
  margin: auto;
}

body {
  font-family: 'Lato', Helvetica, sans-serif;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

a:after {
  display: block;
  content: '';
  border-bottom: solid 1px;
  transform: scaleX(0);
  transition: transform 0.5s ease-out;
  transform-origin: 100%;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: 0%;
}

a:hover {
  color: inherit;
}